<!DOCTYPE html>
<html>
  <head>
    <title><%= document.title %></title>
  </head>
  <body>
    <img src='<%= renderer.tmp_dir.join("images", File.basename(document.cover)) %>' width='100%' />
  </body>
</html>