<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href='epub.css' rel='stylesheet' />
    <title><%= chapter.title %></title>
  </head>
  <body>
    <div class='article'>
      <%= renderer.sanitize chapter.content %>
    </div>
  </body>
</html>